{% extends 'base.html' %}

{%block content%}
<h1 style="color: aliceblue; margin-top: 80px; text-align: center;">We Have Another Quiet Place in This Website???</h1>
<marquee class="moving" scrollamount="30" direction="left" style="color: red; margin-top: 80px; font-style: italic;">Looks Like You Found Second Secret Page! For the Prize(Unlike the Last Secret Page) We Will be Sending the Entire Package to Your House!!! Finally Your Future Predicition is Gonna Come to Pass and It Will be Real!!</marquee>

<a type="button" class="button btn-primary" href="{{url_for('confession')}}" style="position: static; margin-left: 730px;">Press This if You Want Everything to be Delivered</a>


{%endblock%}